* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: teal;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  padding: 30px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

header button {
  padding: 15px 10px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 10px;
}

#form {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
}

#form input {
  flex-grow: 0.7;
  padding: 15px 10px;
  font-size: 25px;
  border-radius: 10px;
  margin: 0 auto;
}

#form input::placeholder {
  color: gray;
}

#form button {
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}

.timer {
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom: 20px;;
    align-items: center;
    font-size: 22px;

}

.timer__block {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.time {
    background-color: rgb(99, 106, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 95px;
    padding:5px;
}

.title {
    background-color: bisque;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.results__block {
    position: absolute;
    background-color: #fff;
    left:15px;
    top: 0;
    width: 250px;
    border: 1px solid gray;
    color:purple;
    font-size: 22px;
    padding:15px;
    text-align: center;
    display: none;
    
}

.buttons button {
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}

.captcha__out {
    background-color: #fff;
    margin-bottom: 50px;
    padding:30px 0;
    font-size: 40px;
    letter-spacing: 5px;
    display: none;
}